/* custom-tailwind.css */



body {
background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 1),    /* Black */
    rgba(1, 94, 1, 0.757)   /* Green */
  );
}

/* custom-tailwind.css */
.container {
  @apply mx-auto p-4 max-w-md rounded-lg shadow-md;
  background-color: white; /* Add a background color for the container (optional) */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.timer-container {
  @apply bg-gray-200 p-4 rounded-lg shadow-md text-center;
}

.timer-heading {
  @apply text-xl font-semibold mb-2;
}

.timer-text {
  @apply text-2xl font-bold mb-4;
}

.timer-button {
  @apply bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded;
}

.timer-button[disabled] {
  @apply opacity-50 cursor-not-allowed;
}

.timer-label {
  @apply block text-gray-700;
}

/* MOVES ****************************************************************************** */

/* custom-tailwind.css */
.moves-container {
  @apply bg-blue-200 p-4 rounded-lg shadow-md text-center;
}

.moves-heading {
  @apply text-2xl font-semibold mb-2;
}

.moves-text {
  @apply text-3xl font-bold mb-4;
}

.moves-button {
  @apply py-2 px-4 rounded;
}

.moves-mute-button {
  @apply text-white font-bold;
}

.moves-unmute-bg {
  @apply bg-green-500 hover:bg-green-600;
}

.moves-mute-bg {
  @apply bg-red-500 hover:bg-red-600;
}

.moves-button[disabled] {
  @apply opacity-50 cursor-not-allowed;
}



/* custom-tailwind.css */
.custom-button {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

.custom-button:hover {
  background-color: #333; /* Darken the background color on hover */
}

/* Red button style */
.red-button {
  background-color: #f44336; /* Red color */
}

.red-button:hover {
  background-color: #d32f2f; /* Darken the red color on hover */
}

/* Green button style */
.green-button {
  background-color: #317b34; /* Green color */
}

.green-button:hover {
  background-color: #388e3c; /* Darken the green color on hover */
}

.center-text {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%; /* Ensure it takes the full height of its container */
  text-align: center; /* Center text within the container */
}
